.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}

img{
  max-width: 100%;
}

.nav {
  color: white;
  height: 40px;
  background-color: tomato;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  position: relative;
}

.card--caption {
  display: flex;
  align-items: center;
}

.card--badge {
  position: absolute;
  top: 76px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold; 
}